<?xml version="1.0" encoding="UTF-8"?>
<!--  - Application context definition for "springapp" DispatcherServlet.  -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="baseService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:7777/baseService"></property>
        <property name="serviceInterface" value="com.boco.rmi.service.inface.BaseService"></property>
    </bean>
</beans>